g97_otus.tre
97_otus.tree
.DS_Store
data/closed_ref_silva/97_otus.tre
data/closed_ref_silva/emp_cr_silva_16S_123.qc_filtered.biom
data/closed_ref_silva/emp_cr_silva_16S_123.qc_filtered.summary.txt
data/emp_qiime_mapping_qc_filtered.tsv
data/emp/
data/dbd_slope.pickle
data/dbd_slope_old.pickle
data/presence_absence_annotated.pickle
data/presence_absence_annotated_old.pickle
data/sad_annotated.pickle
data/sanchez/
data/coarse_grained_human_gut_metagenome.pickle
data/sad_annotated_human_gut_metagenome.pickle
data/sad_annotated/
data/old/
scripts/.Rhistory
data/dalbello/fastq
data/emp.zip
data/coarse_grained_tree/
data/dbd_slope_emp_taxa/
data/dalbello/seqtab-nochim_muscle_fasttree.tre
data/dbd_slope_human_gut_metagenome.pickle
data/diversity_vs_diversity_phylo_emp/
data/error_dict_phylo_rarefied.pickle
data/kl_divergence_taxon.pickle
data/sad_annotated_taxon_no_subsampling/
data/slm_gamma_emp_diversity_dict/
data/sad_annotated_phylo_no_subsampling/
data/coarse_grained_tree_no_subsampling/
data/svd/
data/svd_taxon/
data/diversity_slm_dbd_integral_dict/
data/richness_dbd_dict.pickle
data/diversity_dbd_simulation_phylo_dict/
data/diversity_dbd_dict/
data/diversity_dbd_simulation_taxon_dict.pickle
data/richness_diversity_prediction_phylo_dict/
data/diversity_slm_phylo_integral_dict/
data/richness_diversity_prediction_phylo_dict_old/
data/s_by_s_test.pickle
data/richness_diversity_phylo_mean_simulation_dict/
